<footer>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-around">
                    <div class="footer-text">
                        Our Socials 
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <i class="fab fa-facebook icon-button" matTooltip="Facebook"></i>
                    <i class="fab fa-twitter icon-button" matTooltip="Twitter"></i>
                    <i class="fab fa-linkedin-in icon-button" matTooltip="Linkedin"></i>
                    <i class="fab fa-instagram icon-button" matTooltip="Instagram"></i>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-between">
                    <span class="copyright">
                        Copyrights © 2021 All Rights Reserved by Walt Disney & Co.
                    </span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-around">
                    <div class="footer-text">
                        Our Services
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <i class="fas fa-camera-retro icon-button" matTooltip="Photography"></i>
                    <i class="fas fa-video icon-button" matTooltip="Videos Service HD"></i>
                    <mat-icon class="icon-button" matTooltip="Movies">movie_filter</mat-icon>
                    <mat-icon class="icon-button" matTooltip="Comcast">cast</mat-icon>
                </div>
            </div>
        </div>
    </div>
</footer>