<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <div class="mat-body-strong text-uppercase">
                        Search for Employee's name Reactively !
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Employee Name</mat-label>
                            <textarea matInput rows="4" type="text" [formControl]="empControl"
                                [matAutocomplete]="empAutoComplete"
                                placeholder="Use the '@' to search an employee. Ex: @Harry">
                            </textarea>
                            <mat-autocomplete autoActiveFirstOption #empAutoComplete>
                                <mat-option *ngFor="let employee of employees$ | async" [value]="employee.name">
                                    {{employee.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                List of Employees
                            </mat-panel-title>
                            <mat-panel-description>
                                Please expand this section to find the list of all employee names for reference
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="d-flex flex-wrap">
                            <div *ngFor="let employee of employees">
                                <div class="p-2 border employee-block">{{employee.name}}</div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
</div>